<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile
    ><button mat-raised-button color="primary" (click)="openBusManagementDialog()" style="width: 100%;height: 100%;">Zarządzaj Autobusami</button
  ></mat-grid-tile>
  <mat-grid-tile
    ><button mat-raised-button color="primary" (click)="openBusRouteManagementDialog()" style="width: 100%;height: 100%;">Zarządzaj Połączeniami Autobusowymi</button
  ></mat-grid-tile>
  <mat-grid-tile
    ><button mat-raised-button color="primary" (click)="openTicketManagementDialog()" style="width: 100%;height: 100%;">Zarządzaj Biletami</button
  ></mat-grid-tile>
  <mat-grid-tile
    ><button mat-raised-button color="primary" (click)="openUserManagementDialog()" style="width: 100%;height: 100%;">Zarządzaj Użytkownikami</button
  ></mat-grid-tile>
  <mat-grid-tile
    ><button mat-raised-button color="primary" (click)="openDiscountManagementDialog()" style="width: 100%;height: 100%;">Zarządzaj Zniżkami</button
  ></mat-grid-tile>
</mat-grid-list>
