<div class="flex-container">
  <div class="main">
    <h2>Tanie bilety autobusowe online</h2>
    <img src="/assets/images/bus-clipart.png" alt="image">
    <h3><img src="/assets/images/earth-flat.png" alt="image"> wygodne połączenia na terenie całego kraju</h3>
    <h3><img src="/assets/images/creditcard-flat.png" alt="image"> szybki i łatwy sposób zakupu biletu</h3>
    <h3><img src="/assets/images/location-map-flat.png" alt="image"> planer podróży z dowolną liczbą przesiadek</h3>
    <h3><img src="/assets/images/cursor-flat.png" alt="image"> opcja rezerwacji biletów </h3>
  </div> 
  <div class="sidebar">
    <app-bus-route-search></app-bus-route-search>
  </div>
</div>
